@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
}

body {
    background-color: #0a0a0a;
    background-image: repeating-linear-gradient(43deg, #0a0a0a, #0a0a0a 20px, rgba(11, 11, 11, 1) 20px, rgba(11, 11, 11, 1) 40px);
    background-size: auto;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

header .itens {
    color: #cacaca;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    transition: 0.3s ease-in-out all;
    transform: scale(1);
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

header .itens:hover {
    transition: 0.1s ease-in;
    color: #0073ff;
    fill: #0073ff;
    transform: scale(1.1);
}

header div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

header div img {
    width: 60px;
    border-radius: 30px;
    border: #0070f8 solid 3px;
    display: none;
}

header div button {
    background: transparent;
    border: none;
    cursor: pointer;
}

header div .butao {
    transition: 0.2s ease-in-out all;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 7px 15px;
    color: #cacaca;
    background-color: transparent;
    border: #cacaca solid 1px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

header div .butao:hover {
    transition: 0.2s ease-in-out all;
    transform: scale(1.1);
    color: #cacaca;
    background-color: #0073ff;
    border: #0073ff solid 1px;

}

section {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section div {
    color: #cacaca;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section div h1 {
    font-family: "Roboto", sans-serif;
    font-size: 100px;
    color: #cacaca;
    text-shadow:
        1px 1px 0px #666666,
        2px 2px 0px #555555,
        3px 3px 0px #444444,
        4px 4px 0px #333333,
        5px 5px 8px rgba(0, 0, 0, 0.5);
}

section div p {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

section div span {
    color: #0070f8;
    text-shadow:
        1px 1px 0px #0059c6,
        2px 2px 0px #0059c6,
        3px 3px 0px #0059c6,
        4px 4px 0px #0059c6,
        5px 5px 8px rgba(0, 0, 0, 0.5);
}

section div div {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

section div div button {
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: #0a0a0a;
    background-color: #cacaca;
    border: #cacaca solid 1px;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

section div div button:hover {
    color: #cacaca;
    background-color: transparent;
    border: #cacaca solid 1px;
    transition: 0.2s ease-in;
}

section div div .but {
    padding: 10px 25px;
    color: #cacaca;
    background-color: #0073ff;
    border: none;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    border: #0070f8 solid 1px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

section div div .but:hover {
    padding: 10px 25px;
    color: #cacaca;
    background-color: transparent;
    border: #cacaca solid 1px;
    font-family: "Roboto", sans-serif;
    transition: 0.2s ease-in;

}

.menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #101010;
    border: #0059c6 solid 3px;
    color: #cacaca;
    position: absolute;
    top: 3.5rem;
    right: 6rem;
    padding: 15px;
    gap: 25px;
    border-radius: 30px;
    font-size: 15px;

}

.menu a {
    text-decoration: none;
    color: #cacaca;
     font-family: "Roboto", sans-serif;
     gap: 5px;
         display: flex;
    justify-content: center;
    flex-direction: row;
        transition: all ease-in-out 0.2s;
    transform: scale(1);
}

.menu a:hover {
    transition: all ease-in-out 0.2s;
    transform: scale(1.1);
}

.menu p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: #cacaca;
    font-family: "Roboto", sans-serif;
    gap: 5px;
}

.menu button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    color: #cacaca;
    font-family: "Roboto", sans-serif;
    gap: 5px;
        font-size: 15px;
        transition: all ease-in-out 0.2s;

}

.menu button:hover {
        transition: all ease-in-out 0.2s;
    transform: scale(1.1);
}

.aviso {
    background-color: #0070f8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    justify-content: center;
    color: white;
        font-family: "Roboto", sans-serif;
}

.aviso p {
    display: flex;
    flex-direction: row;
    gap: 5px;
}